body{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.container{
    display: flex;
}


/* BARRA LATERAL */
.logo{
    width: 70px;
    height: 120px;
}

.navegador{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100vh;
    background-color: #fb6f92;
    width: 20vw;
    /* overflow: hidden; */
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
    /* position: fixed; */

}
.nav-ul{
    list-style: none;
    width: 100%;
    padding: 0; /* Eliminar padding del ul */
    margin: 0; /* Eliminar margin del ul */
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */

}

.nav-ul li {
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 20px  0  0 20px;
    padding: 10px;
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */

} 

.nav-ul li a{
text-decoration: none;
font-size: 20px;
color: #fff;
} 
.nav-ul li a i{
    margin-right: 10px;
} 

.nav-ul li:hover{
    background-color: #fff;
}
.nav-ul li:hover a{
    color: #003049;
}


.abrir,
.cerrar {
    display: none;
}
@media screen and (max-width: 1027px) {
    .nav-ul li {
        margin-left: 15px;
    } 
    .nav-ul li a{
        font-size: 15px;
    } 

}
@media screen and (max-width: 890px) {

        .nav-ul li {
            margin-left: 5px;
        } 
}

@media screen and (max-width: 890px) {

    .nav-ul li {
        margin-left: 0px;
    }
    .nav-ul li a{
font-size: 12px;    }
}



@media screen and (max-width: 660px) {
    .abrir,
    .cerrar {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir {
        color: #1c1c1c;  
        margin-right: 10px; 
     }

    .cerrar {
        color: #1c1c1c;
    }

    .navegador {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
         top: 0; 
        background-color: #fb6f92;
        height: 100vh;
        width: 40vw;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .navegador.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-ul{
        width: 100%;
    }

    .nav-ul li {
        border-radius: 20px;
    } 

    .nav-ul li a {
        color: #ecececec;
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    .nav-ul li a {
        font-size: 15px;
    }
}

/* Publicaciones pantalla de inicio */
.container-publish{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-post{
    display: flex;
    flex-direction: column;
     border-bottom: 2px solid #fb6f92; 
     width: 300px;
     margin-top: 20px;
}

.content-post img{
    width: 300px; 
    height: 300px;
}
.content-post .username{
    text-decoration: none;
    font-size: 25px;
    color: #003049;
}

.comentar-form textarea{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    background: linear-gradient(135deg, #e0eafc, #cfdef3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.btn-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  .btn-icon .material-icons {
    font-size: 30px; /* Tamaño del icono */
    color: #003049; /* Color del icono */
    margin-left: 5px;
  }

  .section-coment{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link_coment{
    text-decoration: none;
    color: #fb6f92;
  }

  .coment-cont{
    width: 300px;
    height: 150px;
    overflow: scroll;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .delete-comentario{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 2px;
  }

  .delete-comentario i{
    font-size: 15px; /* Tamaño del icono */
    color: #780000; /* Color del icono */
    margin-left: 5px;
  }

  .like-index{
    color: #fb6f92;
  }

/* Estilo para el checkbox personalizado */
.like-checkbox {
    width: 20px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #fb6f92;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo cuando el checkbox está marcado */
  .like-checkbox:checked {
    background-color: #fb6f92;
    border-color: #fb6f92;
  }
  
  /* Estilo del tilde */
  .like-checkbox:checked::after {
    content: '✔';
    /* position: absolute; */
    left: 3.2px;
    top: -3px;
    font-size: 16px;
    color: #fff;
  }
  
  .like{
    display: flex;
    justify-content: start;
    align-items: center;
  }

/* PERFIL */
.container-perfil{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.content-perfil img{
    width:150px;
    height: 150px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    border-radius: 50%;
    border: 5px solid #fb6f92;
}

.superior-perfil{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    background-color: #003049;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

}


.content-perfil p{
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* .editar-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
} */

.content-perfil a{
    text-align: center;
    text-decoration: none;
    background-color: #fb6f92;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}


.seguidores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seguidos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seguidores h3, .seguidos h3{
    color: #fff;
    margin-bottom: 0;
}

.seguidores a, .seguidos a{
    color: #fb6f92;
    text-decoration: none;
    text-align: center;
}
.seguidores a:hover, .seguidos a:hover{
    color: #fff;
}

@media screen and (max-width: 500px) {
    .content-perfil img{
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 352px) {
    .content-perfil a{
        font-size: 15px;
        padding: 4px;
    }
    .seguidores h3, .seguidos h3{
        font-size: 15px;
    }
    .seguidores a, .seguidos a{
        font-size: 15px;
    }
}

/* Publicaciones en perfil */
.superior-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}
.superior-post i{
margin-right: 5px;
color: #003049;
}

.superior-post h2{
    margin: 5px;
    }

 .contenedor-publish{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }   

 .content-postindex{
    display: flex;
    flex-direction: column;
     border-bottom: 2px solid #fb6f92; 
     width: 300px;
     margin: 15px;
}

.content-postindex img{
    width: 300px; 
    height: 300px;
}
.content-postindex .username{
    text-decoration: none;
    font-size: 25px;
    color: #003049;
}